<script>
const salaryInput = document.getElementById("salary");

salaryInput.addEventListener("input", function () {
    let raw = this.value.replace(/,/g, "").replace(/\D/g, "");

    if (!raw) {
        this.value = "";
        return;
    }

    this.value = Number(raw).toLocaleString("en-IN");
});

async function generatePDF() {

    const btn = document.getElementById("generateBtn");
    const status = document.getElementById("status");

    const data = {
        name: document.getElementById("name").value.trim(),
        employee_code: document.getElementById("employee_code").value.trim(),
        phone: document.getElementById("phone").value.trim(),
        address: document.getElementById("address").value.trim(),
        role: document.getElementById("role").value,
        branch: document.getElementById("branch").value,
        salary: document.getElementById("salary").value.replace(/,/g, "").trim(),
        joining: document.getElementById("joining").value
    };

    for (let key in data) {
        if (!data[key]) {
            status.className = "status error";
            status.innerText = "Fill all fields.";
            return;
        }
    }

    try {
        btn.disabled = true;
        btn.innerText = "Generating...";
        status.className = "status loading";
        status.innerText = "Creating PDF...";

        const res = await fetch("/generate", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(data)
        });

        if (!res.ok) {
            const err = await res.json();
            throw new Error(err.error);
        }

        // MAILTO HEADER
        const mailto = res.headers.get("X-Mailto");

        // DOWNLOAD FILE
        const blob = await res.blob();
        const url = window.URL.createObjectURL(blob);

        const a = document.createElement("a");
        a.href = url;
        a.download = "Offer_Letter.pdf";
        a.click();

        // OPEN MAIL AFTER
        setTimeout(() => {
            window.location.href = mailto;
        }, 1200);

        status.className = "status success";
        status.innerText = "Done. PDF downloaded.";

        setTimeout(() => {
            document.getElementById("offerForm").reset();
        }, 1000);

    } catch (e) {
        status.className = "status error";
        status.innerText = e.message;
    }

    btn.disabled = false;
    btn.innerText = "Generate Offer Letter PDF";
}
</script>
